.experience-title{
    display: flex;
    flex:50%;
    justify-content: space-between;
    font-size: large;
    margin:8px;
    text-decoration: underline;

}
.description{
    text-align: left;
    font-size: medium;
}
.logo{
    max-width: 60%;
    max-height: 20%;
}
#company{
    float:left;
}
#time{
    float:right;
}