.experience-title{
    display: flex;
    flex:50%;
    align-items: center;
    justify-content: space-between;
}
.description{
    text-align: left;
    font-size: 28px;
}
.logo{
    max-width: 60%;
    max-height: 200px;
}