.experience-title{
    display: grid;
}
.description{
    text-align: left;
    font-size: medium;
    margin-top: 1rem;
} 
.logo{
    max-height: 20rem;
    max-width: 25rem;
}
#company{
    float:left;
}
#time{
    float:right;
}
.experience-header {
    display: flex;
    flex:50%;
    align-items: center;
    justify-content: space-between;
}
.experience-content {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}