.intro {
    display: flex;
    flex:50%;
    align-items: center;
    justify-content: space-between;

}
.typewriter{
    display: flex;
    float:right;
    margin: 8px;
}
.pfp {
    display: flex;
    width:30%;
    float:right;
    margin: 8px;
}
.basicInfo{
    line-height: .5;
}
.contact_bar{
    display: flex;
}
.icon{
    width: 32px;
    height: 32px;
    margin: 8px;
}

#github{
    border-radius: 5px;
}