.contact{
    min-width: 70vh;
}
.phoneMessage{
    color:black;
    font-size: 16px;
}
.icon{
    width: 32px;
    height: 32px;
    margin: 8px;
}
#github{
    border-radius: 5px;
}
.contact-header{
    display: flex;

}
label{
    font-size: large;
}
.contact-content{
    color:white;
    width:50%;
    font-size: medium;
}
input, textarea{
    background-color: rgba(0,0,0,.5);
    border-color: white;
    border-width: 1px;
    border-radius: 8px;
    width:100%
}
#message{
    height: 100%;
    width: 100%
}